<h2 mat-dialog-title>Grade Assignment</h2>

<mat-dialog-content class="gd-content">
  <div class="gd-meta">
    <div>Student: <strong>{{ data?.studentFirstName }}</strong></div>
    <div>Assignment: <strong>{{ data?.assignmentNumber }}</strong></div>
  </div>

  <form [formGroup]="form" class="gd-form">
    <div class="gd-grid">
      <mat-form-field appearance="outline" class="gd-field">
        <mat-label>Grade</mat-label>
        <input matInput type="number" formControlName="studentGrade" min="0" max="10" step="0.5"/>
        <mat-hint>0–10</mat-hint>

        <mat-error *ngIf="form.get('studentGrade')?.hasError('required')">Grade is required</mat-error>
        <mat-error *ngIf="form.get('studentGrade')?.hasError('min')">Min is 0</mat-error>
        <mat-error *ngIf="form.get('studentGrade')?.hasError('max')">Max is 10</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="gd-field">
        <mat-label>Status</mat-label>
        <mat-select formControlName="assignmentStatus">
          <mat-option *ngFor="let s of assignmentStatuses" [value]="s">
            {{ s }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('status')?.hasError('required')">
          Status is required
        </mat-error>
      </mat-form-field>
    </div>

    <mat-card class="gd-flag" appearance="outlined">
      <mat-checkbox formControlName="copied">Mark as copied (plagiarism)</mat-checkbox>
    </mat-card>

    <mat-form-field appearance="outline" class="gd-field">
      <mat-label>Notes</mat-label>
      <textarea matInput rows="4" formControlName="remarks" placeholder="Optional feedback…"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="gradeStudent()">
    Save
  </button>
</mat-dialog-actions>
