<h1> Student details</h1>
<div class="student-info">
  <p><strong>Nume:</strong> {{student?.firstName}}</p>
  <p><strong>Grupă:</strong> {{student?.studyGroup?.name}} </p>
  <p><strong>Email:</strong> {{student?.email}} </p>
  <p><strong>Github repo:</strong> {{student?.githubgRepository}} </p>
  <p><strong>Number of assignements:</strong> test </p>
</div>

<div class="top-actions" style="display: flex; justify-content: flex-start; margin-bottom: 16px;">
  <button
    mat-flat-button
    (click)="editStudent()">
    Edit student
  </button>
  <button
    mat-flat-button
    (click)="addAssignment()">
    Add assignment
  </button>
  <button
    mat-stroked-button
    color="primary"
    (click)="goBack()">
    Back
  </button>
</div>
<h1>Student assignements</h1>
<div *ngIf="student">
  <table mat-table [dataSource]="student.assignments" class="custom-table mat-elevation-z8">

    <!-- First Name -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{ element.title }}</td>
    </ng-container>

    <!-- Last Name -->
    <ng-container matColumnDef="githubRepo">
      <th mat-header-cell *matHeaderCellDef>Repo</th>
      <td mat-cell *matCellDef="let element"> {{ element.githubRepo }}</td>
    </ng-container>

    <!-- Score -->
    <ng-container matColumnDef="averageScore">
      <th mat-header-cell *matHeaderCellDef>Grade</th>
      <td mat-cell *matCellDef="let element"> {{ element.grade }}</td>
    </ng-container>



    <!-- Deadline -->
    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef>Deadline</th>
      <td mat-cell *matCellDef="let element">
        {{ element.deadline }}
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="assignmentStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.assignmentStatus}}
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Grade</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-flat-button
          color="primary"
          (click)="gradeStudentForAssignement(element.id)">
          Grade
        </button>
        <button class="custom-warn"
          mat-flat-button
          (click)="unassignStudent(element)">
           Unassign student
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
