section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  color: var(--color-primary);
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

app-left-filter {
  flex: 0 0 220px;
}

.main-content {
  flex: 1;
}
