<h1> Assignment details</h1>

<div class="student-info">
  <p><strong>Name:</strong> {{ assignment?.status }}</p>
  <p><strong>Assignment repo:</strong> {{ assignment?.status }}</p>
  <p><strong>Number of students assigned:</strong> {{ assignment?.students?.length }}</p>
  <p><strong>Deadline:</strong> {{ assignment?.deadline }}</p>
</div>
<div class="top-actions" style="display: flex; justify-content: flex-start; margin-bottom: 16px;">
  <div class="top-actions"
       style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">

    <button
      mat-flat-button
      (click)="checkPlagiarismForAssignment()">
      Check plagiarism
    </button>
    <button
      mat-flat-button
      (click)="editAssignement()">
      Edit assignement
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="goBack()">
      Back
    </button>
  </div>
</div>
<h1>Students</h1>

<div *ngIf="assignment">
  <table mat-table [dataSource]="assignment.students" class="custom-table mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleAllRows()"
          [checked]="isAllSelected()"
          [indeterminate]="isIndeterminate()">
        </mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="toggleRow(element)"
          [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <!-- First Name -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.studentFirstName }}</td>
    </ng-container>

    <!-- Last Name -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.studentLastName }}</td>
    </ng-container>

    <!-- Score -->
    <ng-container matColumnDef="averageScore">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let element"> {{ element.averageScore }}</td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="passed">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.passed ? 'Passed' : 'Failed' }}
      </td>
    </ng-container>

    <!-- Repo -->
    <ng-container matColumnDef="githubRepository">
      <th mat-header-cell *matHeaderCellDef>Repo</th>
      <td mat-cell *matCellDef="let element">
        <a
          [href]="element.githubRepository"
          target="_blank"
          class="repo-link"
        >
          GitHub Repo
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
