@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$red-palette,
  )));

@include mat.all-component-themes($my-theme);
:root {
  /* Accent / warnings / success */
  --color-primary: #0728ff;
  --color-success: #02f402;
  --color-danger: #fd0022;
  --color-warning: #ffc107;
}

/* Raised button (plin) */
.mat-mdc-raised-button.custom-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-text-light) !important;
}

.mat-mdc-unelevated-button.custom-warn {
  background-color: var(--color-danger) !important;
  color: var(--color-text-light) !important;
}

.mat-mdc-raised-button.custom-primary:hover {
  background-color: var(--color-primary-dark) !important;
}

/* Outlined button */
.mat-mdc-outlined-button.custom-primary {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.mat-mdc-outlined-button.custom-primary:hover {
  background-color: var(--color-primary-light) !important;
  color: var(--color-text-light) !important;
}

.custom-table {
  width: 100% !important;
  border-radius: 8px !important;
  overflow: hidden !important;
  background-color: var(--color-surface) !important; /* background general tabel */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.custom-table th.mat-header-cell {
  background-color: var(--color-primary) !important;
  color: var(--color-text);
  font-weight: 600;
}

/* Celulele */
.custom-table td.mat-cell {
  background-color: var(--color-background); /* fundal celule */
  color: var(--color-text);
}

/* Rând hover */
.custom-table tr.mat-row:hover td.mat-cell {
  background-color: var(--color-primary); /* highlight la hover */
  color: var(--color-text);
}

.my-custom-dialog {
  background-color: var(--color-background);
  padding: 24px !important;
  border-radius: 12px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
}

/* Butoane în dialog */
.my-custom-dialog button.mat-flat-button {
  background-color: #4caf50 !important; /* verde Save */
  color: white !important;
}

.my-custom-dialog button.mat-stroked-button {
  border-color: #f44336 !important; /* roșu Cancel */
  color: #f44336 !important;
}


.color-primary {
  color: var(--color-primary);
}

.color-text {
  color: var(--color-text);
}

.chip-assigned.mdc-evolution-chip {
  background-color: var(--color-warning) !important;;
}

.chip-submitted.mdc-evolution-chip {
  background-color: var(--color-success) !important;
}

.chip-completed.mdc-evolution-chip {

  background-color: var(--color-primary) !important;
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}

.chip-failed.mdc-evolution-chip {
  background-color: var(--color-danger) !important;
}

